<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %} Home {% endblock %} - page
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% block style %}
    <style>
        body {
            background-image: url("{{url_for('static', filename = 'images/home_page_image.png')}}");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            height: 100vh;
        }
    </style>
    {% endblock %}
    <style>
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        strong {
            color: #002a51;
        }
    </style>
</head>

<body>
    {% block nav %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm sticky-top">
        <div class="container-fluid">
            <a href="{{url_for('home')}}" class="navbar-brand mx-5"><strong>ParC</strong></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="{{url_for('user_login')}}" class="nav-link">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{url_for('user_register')}}" class="nav-link">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% endblock %}
    <div>
        {% with messages = get_flashed_messages(with_categories= true) %}
        {% if messages %}
        <div class="alert alert-{{messages[0][0]}} alert-dismissable fade show d-flex justify-content-between"
            role="alert" id="alert">
            {{ messages[0][1]}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}
    </div>

</body>
{% block scripts %}
{% endblock %}
<script>
    let a = setTimeout(() => {
        let message = document.getElementById("alert");
        message.remove()
    }, 4000);
</script>

</html>