{% extends "user_dashboard.html" %}

{% block title %}Spot Release{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6 bg-light p-4 rounded shadow-sm">
            <h4 class="text-center fw-semibold mb-4">Release The Parking Spot</h4>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="spot_id" class="form-label fw-semibold">Spot ID</label>
                    <input type="text" class="form-control" id="spot_id" name="spot_id" value="{{reservation.spot_id}}"
                        readonly>
                </div>
                <div class="col-md-6">
                    <label for="lot_id" class="form-label fw-semibold">Lot ID</label>
                    <input type="text" class="form-control" id="lot_id" name="lot_id" value="{{reservation.lot_id}}"
                        readonly>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="vrn" class="form-label fw-semibold">Vehicle No.</label>
                    <input type="text" class="form-control" id="vrn" name="vrn" value="{{reservation.vrn}}" readonly>
                </div>
                <div class="col-md-6">
                    <label for="price" class="form-label fw-semibold">Lot Price/hr</label>
                    <input type="text" class="form-control" id="price" name="price" value="{{reservation.price}}"
                        readonly>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="parkingtime" class="form-label fw-semibold"> Parking Time</label>
                    <input type="text" class="form-control" id="parkingtime" name="parkingtime"
                        value="{{reservation.parking_timestamp.strftime('%Y-%m-%d   |   %H : %M')}}" readonly>
                </div>
                <div class="col-md-6">
                    <label for="leavingtime" class="form-label fw-semibold">Releasing Time</label>
                    <input type="text" class="form-control" id="leavingtime" name="leavingtime"
                        value="{{reservation.leaving_timestamp.strftime('%Y-%m-%d   |   %H : %M')}}" readonly>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="duration" class="form-label fw-semibold">Duration</label>
                    <input type="text" class="form-control" id="duration" name="duration"
                        value="{{' %02d hr : %02d min ' %(reservation.duration_hr, reservation.duration_min)}}"
                        readonly>
                </div>
                <div class="col-md-6">
                    <label for="totalcost" class="form-label fw-semibold">Total Cost</label>
                    <input type="text" class="form-control" id="totalcost" name="totalcost"
                        value="₹{{reservation.total_cost}}" readonly>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <a href="{{url_for('release_spot', reserve_id = reservation.id)}}" class="btn btn-success">Release</a>
                <a href="javascript:history.back()" class="btn btn-outline-secondary">Cancel</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}